.picContainer{
    display: grid; /*css grid used*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.pic{ /*for each photo max width & height is set*/
    max-width: 100%;
    max-height: 75%;
}