.contactContainer{
    line-height: 2.8;
}
.emailLink{
    color: #900C3F;
}
.emailLink:link{
  text-decoration: none;
}

.emailLink:visited {
  text-decoration: none;
}

.emailLink:hover {
  text-decoration: underline;
}

.emailLink:active {
  text-decoration: underline;
}

.formButtons{
    width: 5rem;
}
#submit{
    background-color:#06D001;
    margin-left: 20px;
    
}
#reset{
    background-color: #FFE700;
}
#submit:hover {
  background-color: #0ffe0b;
}

#submit:active {
  background-color: #0ffe0b;
}
#reset:hover {
  background-color: #fffb00;
}

#reset:active {
  background-color: #fffb00;
}