.container{  
  width:50%;
  padding: 5% 25%;
  margin:0px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.profilePhoto{
  height:200px;
  width:200px;
  border-radius:50%;
} /**/
em{
  font-weight: 900;
}
.aboutContent{
line-height: 1.8;
}

